section{
			margin-bottom: 5px;
		}
		.closed{
			color : red;
			text-decoration: line-through;
			font-style: italic;
			font-weight: bold;
		}
		ol{
			list-style: none;
			width: 400px;
		}
		li{
			margin-bottom: 5px;
			padding : 5px;
			border : 1px solid gray;
			background-color: #e7e7e7;
			border-radius: 5px;
		}
		.bugname {
			font-size: 16pt;
			cursor: pointer;
		}
		.stats{
			font-size: 16pt;
		}