<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Bug Tracker</title>
	<link rel="stylesheet" type="text/css" href="style.css">
	<script src="angular.js"></script>
	<script type="text/javascript">
		/*
		Use Cases
		1. List the bugs - done
		2. Add a new bug - done
		3. Togggle the 'closed' status of a bug - done
		4. Remove closed bugs - done
		5. Display Statistics - done
		6. Search for bugs - done
		7. Sort the bugs - done
		8. Persist the bugs in the localStorage - done
		9. Display 'createdAt' attribute for the bugs
		10. Persist the bugs in the server
		11. Categorize the bugs

		HTML5 (Browser - window.localStorage)
			key/value store
			key and value should be strings
			Use angular.toJSON() and angular.fromJSON() for serialization and deserialization respectively
			Same Origin Policy
			APIs
				- setItem(key, value)
				- getItem(key)  // => value
				- removeItem(key)
				- key(index) // => key @ index
				- clear()
				- length // => # of items in storage

		*/
	</script>
	<script>
		var bugTrackerApp = angular.module("bugTrackerApp", []);
		bugTrackerApp.run(function($rootScope){
			
			console.log('bugTrackerApp initialized');
		});
		/*bugTrackerApp.value('Bug', function(defaults){
			this.name = defaults.name || '';
			this.isClosed = defaults.isClosed || false;
			this.toggle = function(){
				this.isClosed = !this.isClosed;
			}
		});*/

		/*
		Value - Entity construction involves ONLY ONE STEP
			  - Entity doesn't require any dependencies

		Factory - Entity construction involes complex steps
				- Entity DEPENDS on other dependencies
		*/

		bugTrackerApp.value('defaultBugName', '[Default Bug]')

		bugTrackerApp.factory('Bug', function(defaultBugName){
			function Bug(defaults){
				this.id = defaults.id || 0;
				this.name = defaults.name || defaultBugName;
				this.isClosed = defaults.isClosed || false;
			}
			Bug.prototype.toggle = function(){
				this.isClosed = !this.isClosed;
			}
			return Bug;
		});

		bugTrackerApp.factory('bugStorage', function(Bug){
			var storage = window.localStorage;
			var maxBugId = 0;

			function getAllBugs(){
				var result = [];
				for(var i=0; i<storage.length; i++){
					var key = storage.key(i);
					var data = storage.getItem(key);
					var bugData = angular.fromJson(data);
					var bug = new Bug(bugData);
					result.push(bug);
					maxBugId = bug.id > maxBugId ? bug.id : maxBugId;
				}
				return result;
			}
			function addBug(bugName){
				var newBug = new Bug({id : ++maxBugId, name : bugName});
				return saveBug(newBug);
			}
			function saveBug(bug){
				storage.setItem(bug.id, angular.toJson(bug));
				return bug;
			}

			function removeBug(bug){
				storage.removeItem(bug.id);
			}

			return {
				getAll : getAllBugs,
				add : addBug,
				save : saveBug,
				remove : removeBug
			}
		});

		bugTrackerApp.controller("bugsController", function($scope, bugStorage){
			$scope.bugs = bugStorage.getAll();

			$scope.addNew = function(bugName){
				var newBug = bugStorage.add(bugName);
				$scope.bugs.push(newBug);
			};

			$scope.toggleBug = function(bug){
				bug.toggle();
				bugStorage.save(bug)
			};

			$scope.removeClosed = function(){
				for(var i=$scope.bugs.length-1; i>=0 ; i--)
					if ($scope.bugs[i].isClosed){
						bugStorage.remove($scope.bugs[i]);
						$scope.bugs.splice(i,1);
					}
			};

			
		})

		bugTrackerApp.filter('toClosedCount' , function(){
			return function(data){
				return data.reduce(function(result, bug){
					return bug.isClosed ? result + 1 : result;
				},0);
			}
		});
		bugTrackerApp.value('defaultTrimLength', 20);

		bugTrackerApp.filter('trimText', function(defaultTrimLength){ 
			/*factory function returning the filter function*/
			return function(text, trimLength){
				trimLength = trimLength || defaultTrimLength;
				return text.length > trimLength ? text.substr(0,trimLength) + '...' : text;
			};
		});
	</script>
	
</head>
<body ng-app="bugTrackerApp">
	<h1>Bug Tracker</h1>
	<hr>
	<div class="content" ng-controller="bugsController">
		<section class="stats">
			<span class="closed">{{ bugs | toClosedCount }}</span>
			<span> / </span>
			<!-- <span ng-bind="bugs.length">5</span> -->
			<span>{{bugs.length}}</span>
		</section>
		<section class="search">
			<label for="">Search :</label>
			<input type="text" ng-model="searchBug.name">
			<label for="">Is Closed ?</label>
			<input type="checkbox" ng-model="searchBug.isClosed">
			<input type="button" value="Show All" ng-click="searchBug.isClosed = undefined">
		</section>
		<section class="sort">
			<label for="">Order By:</label>
			<input type="text" ng-model="sortBugAttr">
			<label for="">Descending ?:</label>
			<input type="checkbox" ng-model="sortBugOrder">
		</section>
		<section class="list">
			<label for="">Bug :</label>
			<input type="text" ng-model="newBug" >
			
			<input type="button" value="Add Bug" ng-click="addNew(newBug)">
			<input type="button" value="Remove Closed" ng-click="removeClosed()">
			<ol class="bugList">
				<li ng-repeat="bug in (bugs | filter:searchBug | orderBy:sortBugAttr:sortBugOrder)">
					<span class="bugname" ng-click="toggleBug(bug)" ng-class="{closed : bug.isClosed}">{{bug.name | trimText:30}}</span>
				</li>
			</ol>
		</section>
	</div>
</body>
</html>